@if (gameCounts) {
  <div class="dashboard">
    <div
      class="dashboard-item-container"
      [class.initial-animation]="animatedStatus() === null"
      style="--i: 0"
    >
      <button
        type="button"
        class="dashboard-item toplay"
        [class.initial-animation]="animatedStatus() === null"
        [class.animated]="animatedStatus() === 'TO_PLAY'"
        style="--i: 0"
        (click)="navigateToStatus('TO_PLAY')"
      >
        <span class="material-symbols-outlined">calendar_add_on</span>
        <div class="dashboard-item-text">TO PLAY :</div>
        <div class="dashboard-counter">{{ gameCounts.TO_PLAY }}</div>
      </button>
    </div>

    <div
      class="dashboard-item-container"
      [class.initial-animation]="animatedStatus() === null"
      style="--i: 1"
    >
      <button
        type="button"
        class="dashboard-item playing"
        [class.initial-animation]="animatedStatus() === null"
        [class.animated]="animatedStatus() === 'PLAYING'"
        style="--i: 1"
        (click)="navigateToStatus('PLAYING')"
      >
        <span class="material-symbols-outlined">gamepad</span>
        <div class="dashboard-item-text">PLAYING :</div>
        <div class="dashboard-counter">{{ gameCounts.PLAYING }}</div>
      </button>
    </div>

    <div
      class="dashboard-item-container"
      [class.initial-animation]="animatedStatus() === null"
      style="--i: 2"
    >
      <button
        type="button"
        class="dashboard-item completed"
        [class.initial-animation]="animatedStatus() === null"
        [class.animated]="animatedStatus() === 'COMPLETED'"
        style="--i: 2"
        (click)="navigateToStatus('COMPLETED')"
      >
        <span class="material-symbols-outlined">check_box</span>
        <div class="dashboard-item-text">ENDED :</div>
        <div class="dashboard-counter">{{ gameCounts.COMPLETED }}</div>
      </button>
    </div>
  </div>
}
