@if (gameCounts) {
  <div class="dashboard">
    <div
      class="dashboard-item-container"
      [class.initial-animation]="animatedStatus() === null"
      style="--i: 0"
    >
      <div
        class="dashboard-item toplay"
        [class.initial-animation]="animatedStatus() === null"
        [class.animated]="animatedStatus() === 'TO_PLAY'"
        style="--i: 0"
      >
        <span class="material-symbols-outlined">calendar_add_on</span>
        <div class="dashboard-item-text">TO PLAY :</div>
        <div class="dashboard-counter">{{ gameCounts?.TO_PLAY ?? 0 }}</div>
      </div>
    </div>

    <div
      class="dashboard-item-container"
      [class.initial-animation]="animatedStatus() === null"
      style="--i: 1"
    >
      <div
        class="dashboard-item playing"
        [class.initial-animation]="animatedStatus() === null"
        [class.animated]="animatedStatus() === 'PLAYING'"
        style="--i: 1"
      >
        <span class="material-symbols-outlined">gamepad</span>
        <div class="dashboard-item-text">PLAYING :</div>
        <div class="dashboard-counter">{{ gameCounts?.PLAYING ?? 0 }}</div>
      </div>
    </div>

    <div
      class="dashboard-item-container"
      [class.initial-animation]="animatedStatus() === null"
      style="--i: 2"
    >
      <div
        class="dashboard-item completed"
        [class.initial-animation]="animatedStatus() === null"
        [class.animated]="animatedStatus() === 'COMPLETED'"
        style="--i: 2"
      >
        <span class="material-symbols-outlined">check_box</span>
        <div class="dashboard-item-text">ENDED :</div>
        <div class="dashboard-counter">{{ gameCounts?.COMPLETED ?? 0 }}</div>
      </div>
    </div>
  </div>
}
