.sticky-top-searchbar {
  position: sticky;
  z-index: 100;
  top: 165px;
  margin-top: 165px;

  &::after {
    pointer-events: none;
    content: "";

    position: absolute;
    z-index: -1;
    inset: -120px -50px -155px;

    opacity: 0;
    background: linear-gradient(
      135deg,
      rgb(255 255 255 / 5%) 0%,
      rgb(26 26 26 / 5%) 100%
    );
    backdrop-filter: blur(25px) saturate(180%);

    mask-image: radial-gradient(
      ellipse at center,
      rgb(0 0 0 / 100%) 25%,
      rgb(0 0 0 / 0%) 75%
    );

    transition:
      opacity 0.4s ease-in-out,
      transform 0.4s ease-in-out;
  }

  &.scrolled::after {
    opacity: 1;
  }
}

.dashboard-container {
  display: block;
  background-color: var(--bg-dark-lighter);
}

.searchbar-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.game-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

  padding: 10px 20px;

  /* --- Variante Petite Taille --- */
  &.size-small {
    gap: 20px;

    app-game-card {
      flex: 0 1 200px;
      min-width: 160px;
    }

    .game-card {
      --card-height: 140px;
      --card-radius: 10px;
      --card-hover-text-y: -85px;
      --card-hover-text-size: 22px;
      --card-hover-text-z: 30px;
      --card-hover-actions-z: 40px;
    }
  }

  /* --- Variante Grande Taille (Par défaut) --- */
  &.size-large {
    app-game-card {
      flex: 0 1 400px;
      min-width: 300px;
    }

    .game-card {
      --card-height: 250px;
      --card-radius: 14px;
      --card-hover-text-y: -175px;
      --card-hover-text-size: 40px;
      --card-hover-text-z: 40px;
      --card-hover-actions-z: 60px;
    }
  }
}

.stagger-item {
  opacity: 0;
  animation: fade-in-grid 0.6s ease-out forwards;
  animation-delay: min(calc(var(--i) * 0.1s), 1.5s);
}

@keyframes fade-in-grid {
  0% {
    transform: translateY(30px) scale(0.9);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

/* Transitions globales View Transitions API */
::view-transition-group(*) {
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

::view-transition-old(*) {
  animation: 0.25s ease-out both fade-out;
}

@keyframes fade-out {
  to {
    transform: scale(0.8);
    opacity: 0;
  }
}
