.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  background-color: var(--bg-dark-lighter);

  .main-header {
    display: flex;

    .app-logo-container {
      flex: 1 1 0;
      align-content: center;
    }

    .main-nav-container {
      padding-top: 10px;
      flex: 2 1 0;
      align-content: center;
    }

    .login-action-container {
      padding-top: 10px;
      flex: 1 1 0;
      align-content: center;
    }
  }
}
