.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 100%;

  background-color: var(--bg-dark-lighter);

  .main-header {
    display: flex;

    .app-logo-container {
      flex: 1 1 0;
      align-content: center;
    }

    .main-nav-container {
      flex: 2 1 0;
      align-content: center;
      padding-top: 10px;
    }

    .nav-modules-container {
      display: flex;
      flex: 1 1 0;
      align-content: center;
      align-items: center;

      padding-top: 10px;
    }
  }
}
