.login-action {
  display: flex;
  justify-content: center;

  .login-action-links {
    display: flex;
    gap: 20px;
    list-style: none;

    a {
      font-size: 23px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .username-profil {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    .user-profil-name {
      color: var(--ternary-color);
    }

    .user-profil-name-logo {
      margin: 0;
      padding: 0;
      color: var(--ternary-color);
    }
  }
}
