@if (currentSession; as session) {
  <nav class="login-action">
    <ul class="login-action-links">
      <li>
        <div class="username-profil">
          <div class="material-symbols-outlined user-profil-name-logo">
            account_circle
          </div>
          <a class="user-profil-name">{{ currentSession.username }}</a>
        </div>
      </li>
      <li>
        <a (click)="logout()">Log out</a>
      </li>
    </ul>
  </nav>
} @else {
  <nav class="login-action">
    <ul class="login-action-links">
      <li>
        <a (click)="openLoginModal()">Log in</a>
      </li>
      <li>
        <a (click)="openSignInModal()" routerLinkActive="active">Sign In</a>
      </li>
    </ul>
  </nav>
}
