.login-action {
  display: flex;
  justify-content: center;

  .login-action-links {
    display: flex;
    gap: 20px;
    margin: 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        font-size: 23px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .username-profil {
    cursor: pointer;

    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

    padding: 6px 14px;
    border-radius: 14px;

    background: #493dbd;

    .user-profil-name-logo {
      display: flex;
      align-items: center;

      font-size: 24px;
      line-height: 1;
      color: var(--ternary-color);

      transition: color 0.2s ease;
    }

    .user-profil-name {
      display: flex;
      align-items: center;

      padding-top: 1px;

      line-height: 1;
      color: var(--ternary-color);
      text-decoration: none;

      transition: color 0.2s ease;
    }

    &:hover {
      .user-profil-name,
      .user-profil-name-logo {
        color: var(--text-main-2);
      }
    }
  }
}
