<nav class="main-nav">
  <ul class="nav-links">
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >GAMES</a
      >
    </li>
    <li>
      <a
        routerLink="/backlog"
        [queryParams]="{ status: 'PLAYING' }"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{
          matrixParams: 'ignored',
          queryParams: 'ignored',
          paths: 'subset',
          fragment: 'ignored',
        }"
      >
        Backlog
      </a>
    </li>
    <li>
      <a routerLink="/planner" routerLinkActive="active">PLANNER</a>
    </li>
  </ul>
</nav>
