.main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    padding: 0;

    a {
      font-size: 23px;
    }
  }
}
