.modal-title {
  margin-bottom: 0px;
}
.error-message-container {
  .error-text {
    color: #da1616;
  }
  height: 25px;
}

.blur-backdrop {
  background-color: rgba(0, 0, 0, 0.75) !important; /* Fond noir à 75% */
  backdrop-filter: blur(6px) !important; /* Effet de flou */
}
