.modal-title {
  margin-bottom: 0;
}

.error-message-container {
  height: 25px;

  .error-text {
    color: #da1616;
  }
}

.blur-backdrop {
  background-color: rgb(0 0 0 / 75%) !important; /* Fond noir à 75% */
  backdrop-filter: blur(6px) !important; /* Effet de flou */
}
