@if (game.backgroundImage) {
  <div
    #tiltCard
    class="game-card"
    [class.size-small]="size === 'small'"
    [class.size-large]="size === 'large'"
    [class.animate-disappear]="isDeleted"
  >
    <img
      class="game-card-image"
      [src]="game.backgroundImage"
      [alt]="game.name"
      draggable="false"
    />
    <div class="game-card-bg"></div>
    <div class="game-card-blob"></div>

    <div class="game-card-text-top-bg"></div>
    <div class="game-card-text-bg">
      <div class="game-card-text">
        <h3 class="game-card-name">{{ game.name }}</h3>
        <span class="game-card-badge">{{ game.releasedYear }}</span>
      </div>
    </div>
    <div class="game-card-actions">
      <button
        class="game-card-button game-card-action-1"
        [disabled]="isLoading"
        (click)="addGameTo(GameStatus.TO_PLAY)"
      >
        <span class="material-symbols-outlined">calendar_add_on</span>
      </button>
      <button
        class="game-card-button game-card-action-2"
        [disabled]="isLoading"
        (click)="addGameTo(GameStatus.PLAYING)"
      >
        <span class="material-symbols-outlined">gamepad</span>
      </button>
      <button
        class="game-card-button game-card-action-3"
        [disabled]="isLoading"
        (click)="addGameTo(GameStatus.COMPLETED)"
      >
        <span class="material-symbols-outlined">check_box</span>
      </button>
    </div>
  </div>
}
