@import "https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap";

.logo-link {
  display: inline-block;
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

.endgame-logo {
  cursor: pointer;
  position: relative;
  display: inline-block;
  background-color: transparent;

  .logo-text {
    position: relative;
    z-index: 2;

    font-family: Orbitron, sans-serif;
    font-size: clamp(24px, 4vw, 48px);
    font-weight: 800;
    line-height: 1;
    color: #fff;
    letter-spacing: -1px;
  }
}

.glow-dot {
  display: inline-block;

  width: clamp(0.5px, 1.45vw, 8px);
  height: clamp(0.5px, 1.45vw, 8px);
  margin-right: 20px;
  margin-left: 6px;
  border-radius: 50%;

  vertical-align: baseline;

  background-color: var(--primary-color);
  box-shadow:
    0 0 6px var(--primary-color),
    0 0 12px var(--primary-color);

  animation: pulse 10s ease-in-out infinite alternate;
}

.loading-bar {
  position: absolute;
  z-index: 1;
  left: 1px;

  overflow: hidden;

  width: 288px;
  height: 2px;
  border-radius: 2px;

  background-color: var(--bg-primary-lighter);
}

.loading-bar .progress {
  position: absolute;

  height: 100%;
  border-radius: 2px;

  background-color: var(--primary-color);
  box-shadow: 0 0 8px var(--primary-color);

  animation: fill-progress 20s ease-in-out infinite;
}

@keyframes fill-progress {
  0% {
    left: 0%;
    width: 0%;
  }

  50% {
    left: 0%;
    width: 100%;
  }

  100% {
    left: 100%;
    width: 0%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.8;
  }

  100% {
    transform: scale(1.3);
    opacity: 1;
    background-color: var(--primary-color);
    box-shadow:
      0 0 10px var(--primary-color),
      0 0 20px var(--primary-color);
  }
}
